html{
    scroll-behavior: smooth;
}

 body{
    background-color: #0e86ff;
    font-family: 'Hammersmith One', sans-serif;
    margin: 0%;
    
} 

.title{
    color:white
}

.nav{
    background-color: #0e86ff;
    display: flex;
    justify-content: space-between;
    height: 5vh;
    width: 100%;
    margin: 0%;
    position: fixed;
    align-items: center;
   
}

body {
  background-color: #0e86ff;
  font-family: "Hammersmith One", sans-serif;
  margin: 0%;
}

.title {
  color: white;
}

.nav {
  background-color: #0e86ff;
  display: flex;
  justify-content: space-between;
  height: 5vh;
  width: 100%;
  margin: 0%;
  position: fixed;
  align-items: center;
}

.aboutbtn {
  margin: 0 3% 0 0;
}

.nav {
  background-color: #0e86ff;
  display: flex;
  border-bottom: 5px solid white;
  justify-content: space-between;
  height: 5vh;
  width: 100%;
  margin: 0%;
  position: fixed;
  align-items: center;
}


.aboutbtn:link,
.aboutbtn:visited {
  text-decoration: none;
  color: aliceblue;
}

.aboutbtn:hover {
  background-color: red;
  color: aliceblue;
  height: 100%;
}

/* mudar para flex box */
#aboutUs h1 {
  margin: auto;
  padding-top: 50px;
  text-align: center;

  font-style: normal;
  font-size: 50px;
  font-weight: 400;
  line-height: 100px;
  /* identical to box height */

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.aboutbtn:hover {
  background-color: #f76c6c;
  color: aliceblue;
  height: 100%;
}

/* mudar para flex box */
#aboutUs h6 {
  margin: auto;
  position: relative;
  width: 560px;
  height: 270px;
  text-align: justify;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
}

#aboutUs h6:last-child {
  display: block;
  margin: auto;
}


.homebtn{
    background-color: #0e86ff;
    display: flex;
    height: 100%;
    border: none;
    color: white;
    font-size: 3.5vh;
    cursor: pointer;
    /* tentar fazer o scroll */
    /* transition-duration:0.5s; */
    transition: transform 250ms linear;
    

}

.homebtn:hover {
  background-color: #f76c6c;
}

.blanck {
  height: 50px;
}

/* mudar a escala */
header {
  height: 800px;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
.nextbtn {
  flex-flow: column;
}

/* Só uma class */

.nextbtn,
.nextbtn2,
.startQuizz-btn,
.backbtn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0e86ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  transition-duration: 0.4s;
}

.nextbtn:hover,
.nextbtn2:hover,
.startQuizz-btn:hover,
.backbtn:hover {
  background-color: #f76c6c;
}

.nextbtn:active,
.nextbtn2:active,
.startQuizz-btn:active,
.backbtn:active {
  background-color: #9b2226;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* mudar a escala */
header {
  height: 800px;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection1 {
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.selection1 h2 {
  
  font-size: 40px;
  color: white ;
  
}

.buttonCharacter{
height: 150px;
width: 600px;
border-radius: 110px;
}

.smallButoon{
  height: 50px;
  width: 100px;
}

.selection2{
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.selection2 h2{
  font-size: 40px;
  color: white;
}

.selection2 input{
height: 80px;
width: 350px;
border-radius: 110px;
background-color: #0e86ff;

}

.hide{
  display: none ;
}

.selection2 button{
  height: 50px;
  width: 150px;
  border-radius: 50px;
}

.chooseYourQuizz{
  font-size: 50px;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: space-around;
}
.quizzContainer{
  border: #9b2226 dotted;
  height: 500px;
  width: 400px;}

.quizzTitle, .quizzContainer{
  display: inline-block;
  justify-content: space-between;
  
}

.start{
font-size: 80px;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
color: white;
}

.countdown{
  font-size: 100px;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background-color: #0e86ff;
  color: white;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
}

.footertext {
  margin: 0 3% 0 0;
}

.footer:hover {
  color: #f76c6c;
}

.homebtn {
  background-color: #0e86ff;
  display: flex;
  height: 100%;
  border: none;
  color: white;
  padding: px 6px;
  font-size: 3.5vh;
  cursor: pointer;
}

.homebtn:hover {
  background-color: #F76C6C;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background-color: #0e86ff;
  color: white;
  border-top: 5px solid white;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
}

.footertext {
  margin: 0 3% 0 0;
}
